body {
    box-sizing: border-box;
    padding: 10px 20px;
}

.block {
    background-color: #c8cbcf;
    color: white;
    min-height: 75px;
    padding: 5px;
    text-shadow: 2px 2px 7px black;
}

.block-6 {
    min-height: 120px;
}

p {
    text-shadow: 0 0 0;
    font-size: 13px;
}

.h-200 {
    min-height: 200px;
}

.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
}

